/* your styles go here */
.sidebar-p,
.copyright {
	color: #333;
}
.credit, 
.attrb {
	color: transparent;
}
.credit, 
.attrb a {
	color:  transparent;
}

.box-masonry .box-masonry-description img, 
.box-masonry .box-masonry-description p:nth-child(2) {
	display:  none;
}

.content-column-content h1 + p {
	margin-top: -20px;
}
