/* your styles go here */
.sidebar-p,
.copyright {
	color: #333;
}
.credit, 
.attrb {
	color: transparent;
}
.credit, 
.attrb a {
	color:  transparent;
}

.box-masonry .box-masonry-description img, 
.box-masonry .box-masonry-description p:nth-child(2) {
	display:  none;
}

.content-column-content p {
	color: #333;
}
.content-column-content h1 + p {
	color: #777;
	margin-top: -20px;
}
h6 {
	text-align: center;
	font-weigh: 400;
	color: #555;
}
